
:root {
  color-scheme: light dark;
  --text-size: 1.1em;
}

body {
  margin: 0;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  font-size: var(--text-size);
}

h2 {
  font-size: 1.6em;
  margin: 0.5em 0;
}

p, input, button {
  font-size: var(--text-size);
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

