body {
  margin: 0;
  /*overflow-x: hidden;*/
  /*padding: 0;*/
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222;
    color: #dddddd;
  }
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*overflow-x: hidden;*/
}

